:root {
/*  This should be in inches (with px suffix)*/
  --box-width: 21.5px;
}

body {
  overflow: auto; /* Hide scrollbars */
  margin: 0px;
  background: url("chimeras.jpg");
  background-size: 150%;
  background-position-x: -10vw;
  background-position-y: -70vh;

}


.coord-container {
  position: fixed;
  top: 1vh;

  height: 3vw;
  width: 6vw;
}

.coord {
  width: 6vw;
  font-size: 1vw;

  padding: 0px;
  margin: 0.25vw;

  border-width: 0.3vw;
  background-color: #00aeef;
  border-color: #00b157;
}

.hover-container {
  position: relative;
}

.hover-image {
  position: absolute;
  width: calc(21.5px / 0.4625);
  height: calc(21.5px / 0.4625);
  border: dashed 2px #00b157;
  border-radius: 15px;
}